.TodoItem {
  background-color: #000000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  border: 2px solid rgba(9, 245, 38, 1);
}
.TodoItem:hover {
  box-shadow: 0px 5px 50px rgba(9, 245, 38, 1);
}

.TodoItem-p {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.TodoItem-p--complete {
  text-decoration: line-through;
}
